body {
    background-color: #f1f1f1;
    font-family: "Roboto Mono", monospace;
}
html{
    scroll-behavior:smooth;
}
* {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #FF6600;
    display: flex;
}

.logo {
    width: 20%;
    padding: 2% 0 2% 0;
    margin-left: 8%;
}

.link {
    display: flex;
    margin-top: 13%;
}

    .link a {
        text-decoration: none;
        color: rgb(43, 43, 43);
        font-weight: 500;
        transition: all 0.3s;
        border-radius: 6px;
        padding: 20px;
    }

    .link a:hover {
        font-weight: 700;
        font-size: 20px;
        background-color: #db5800;

    }

/*INTRODUÇÃO*/
.introducao {
    background-color: #f1f1f1;
    color: #000000;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    
}
    .introducao h1{
        font-size: 40px;
        margin-top: 40px;
    }
    .introducao img{
        border-radius: 20px;
        width: 30%;
        height: 30%;
        margin-right: 40px;
    }
    .paragrafo {
        text-align: justify;
        font-size: 16px;
        margin: 20px 40px 10px 40px;
        color: rgb(0, 0, 0);
    }
/*PROJETOS*/
.titulo{
    text-align: center;
    font-size: 40px;
}
.projetos{
    background-color: #dad8d8;
}
.lista-de-projetos{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.lista-de-projetos a {
    text-decoration: none;
    color: black;
}
    .projeto{
        background-color: #fffefe;
        margin: 10px;
        width: 280px;
        height: 450px;
        border-radius: 5px;
        margin-top: 30px;
        border: solid #acacac 1px;
        transition: all 0.2s;
    }

    .projeto:hover{
        background-color: #292929;
        transform: scale(1.05);

    }
    .projeto img {
        width: 280px;
        height: 280px;
    }
    .projeto h1{
        padding: 10px 0px 20px 20px;
        font-size: 25px;

    }
    .projeto .texto-do-projeto{
        margin: 10px;
    }